<html lang="en">
<%- include("../partials/head.ejs") %>

  <body class="">
    <%- include("../partials/nav.ejs") %>

    <div class="container mx-auto px-4">

      <div class="flex justify-between items-center mb-4">
        <a href="/products/create" class="bg-blue-500 hover:bg-blue-700 text-white ml-auto py-2 px-4 rounded">
          New Product
        </a>
      </div>

      <!-- Search form -->
      <form action="/products/search" method="GET" class="mb-4">
        <input type="text" name="q" placeholder="Search products..." class="border px-2 py-1 rounded">
        <select name="sort" class="border px-2 py-1 rounded">
          <option value="">No Sorting</option>
          <option value="price_asc">Price (Low to High)</option>
          <option value="price_desc">Price (High to Low)</option>
        </select>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-1 px-2 rounded">Search</button>
      </form>

      <div id="product-table">
        <%- include("../partials/search_result.ejs") %>
      </div>
    </div>

    <script>
      $(document).ready(function(){
        $('form').on('submit', function(event){
          event.preventDefault();
          var form = $(this);
          $.ajax({
            url: form.attr('action'),
            type: 'GET',
            data: form.serialize(),
            success: function(data){
              $('#product-table').replaceWith(data);
            }
          });
        });
      });
    </script>
  </body>

</html>
